# dependencies
node_modules/

# environment
.env
.env.*
!.env.example

# builds
dist/
build/
coverage/

# logs
*.log
npm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
